form{
  width: 100%;
  display: flex;
}
/* end-content  */

.ct-input{
border-color:black ;
flex: 2;
margin-right: 5px;
line-height: 100%;
border: none;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
a{
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}
h2{
  color: rgb(160, 7, 7);
}
